<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/annonces.css">
    <link rel="stylesheet" href="../css/style.css" >
    <title>Announces</title>
    <link rel="icon" type="image/svg+xml" href="../image/logo.svg">
    <script src="https://kit.fontawesome.com/d3562eec23.js" crossorigin="anonymous"></script>
</head>
<body class="<%= (typeof customs !== 'undefined' && typeof customs.light_mode !== 'undefined') ? (customs.light_mode ? 'light-mode' : 'dark-mode') : 'dark-mode' %>">

    <div class="main">

        <header id="header">
            <div id="website-logo">
            <img class="logo" src="../image/logo.svg"  alt="Gradient Shape Logo Element" loading="lazy">
            <span class="title" ><a href=".." class="head-title">&nbsp; LocaWeb </a> </span>  
            </div>
            
            <nav class="right-header">
                <a id="login" href="/login" class="btn-login">Login</a>
                <a id="sign_up" href="/signup" class="btn-grad">Sign-up</a>

                <form action="/announces" method="POST" id="search-field" onclick="displaySearchField()"> 
                    <input type="text" class="search" name="search" minlength="3" placeholder="Search">  <!-- href="/admin" -->
                    <i class="fas fa-search"></i>
                </form>

                <% if (searching) { %>
                    <a class="btn-offers btn-grad" href="/announces"> Clear search </a>
                <% } %>
                
                <% if (user.username !== undefined) { %>
                    <div class="btn-grad profile-container"><%= user.username %>
                        <ul class="dropdown">
                          <li>
                            <a class="btn-grad profile-btn" href="/profile" style="margin-top: 10px;"> Profile </a>  <!-- id="username" -->
                          </li>
                          <li>
                            <form action="/logout" method="GET">
                              <input class="btn-grad disconnect-btn" type="submit" value="Disconnect">  <!-- id="username" -->
                            </form>
                          </li>
                        </ul>
                      </div>
                    <% if (!user.banned) { %>
                        <a class="btn-offers btn-grad" href="/announces_builder"> Create offer </a>  <!-- id="username" -->
                    <% } else { %>
                        <div class="banned_message">
                            <!-- @dru message si banned -->
                            <p>You are banned from the website. You can't create, comment, report an announce - comments.</p>
                        </div>
                    <% } %>

                    <% if (user.moderator) { %>
                        <a class="btn-offers btn-grad" href="/admin"> Moderation </a>  <!-- id="username" -->
                    <% } %>
                    <script>
                        document.getElementById('sign_up').style.display='none';
                        document.getElementById('login').style.display='none';
                    </script>
                <% } %>
            </nav>

            <input type="checkbox" id="hamburger-input" class="burger-shower">

            <label id="hamburger-menu" for="hamburger-input">
            <nav id="sidebar-menu">
                <h3>Menu</h3>
                <ul>
                    <li><a id="login_ham" href="/login">Login</a></li>
                    <li><a id="sign_up_ham" href="/signup">Sign-Up</a></li>
                    <% if (user.username !== undefined) { %>
                        <% if (!user.banned) { %>
                            <li><a href="/announces_builder"> Create offer <i class="fa-solid fa-plus"></i> </a></li>
                        <% } else { %>
                            <div class="banned_message">
                                <!-- @dru message si banned -->
                                <p>You are banned from the website. You can't create, comment, report an announce - comments.</p>
                            </div>
                        <% } %>

                        <% if (user.moderator) { %>
                            <li><a href="/admin"> Moderation </a></li>
                        <% } %>
                    <li>
                        <a href="/profile" > Profile: <%= user.username %>  &nbsp;&nbsp; <i style="color:var(--purple);" class="fa-solid fa-user fa-lg"></i></a> 
                    </li>
                    <li>
                        <form action="/logout" method="GET">
                            <input type="submit" value="Disconnect" class="input-disconnect"> &nbsp;&nbsp; <i style="color:var(--purple);"class="fa-solid fa-right-from-bracket fa-lg"></i>
                        </form>
                    </li>
                    <br><br>
                    <% if (searching) { %>
                        <!-- @dru Button to clear search, do as you wish -->
                        <li><a href="/announces"> Clear search </a></li>
                    <% } %>
                    <li>
                        <form action="/announces" class="form_ham" method="POST"> 
                            <!-- @dru this has to be cleaned up... Sorry bro I hate FE -->
                            <input type="text" class="search_hamburger" name="search" href="/admin" minlength="3" placeholder="Search"> 
                            <i class="fas fa-search"></i>
                        </form>
                    </li>
                    <br><br>
                </ul>
            </nav>
            <script>
                document.getElementById('sign_up_ham').style.display='none';
                document.getElementById('login_ham').style.display='none';
            </script>
                <% } %>
            </label>

            <div class="overlay"></div>
        </header>

        <% if (searching && Object.keys(announces).length == 0) { %>
            <!-- @dru message si pas d'annonces-->
            <a class="error"> No announces found </a>
        <% } %>

        <script src="../js/stickyheader.js"></script>

        <% if (error != undefined) { %>
            <div class="error-container">
                <a class="error"> <%= error %></a>
            </div>
        <% } %>

        <div id="annonce-container">
            <% if (Object.keys(announces).length == 0) { %>
                <!-- @dru message si pas d'annonces-->
                <script>
                    document.getElementById('annonce-container').style.display='block';
                </script>
                <a class="error"> Il n'y a pas d'annonces pour le moment...</a>
            <% } %>
            <!-- La boucle qui parcourt les annonces commencera ici -->
            <% for (var i = 0; i < announces.length; i++) { %>

                <div class="annonce-element">
                    <% if (announces[i].visibility == false) { %>
                        <div class="hide-content">
                    <% } %>
                    <div class="annonce-top">
                        <div class="annonce-title">
                            <!-- Titre de l'annonce -->
                            <h4><%= announces[i].title %> </h4>
                        </div>
                        <div class="annonce-user">
                            <p class="user_text">From : <%= announces[i].username %> </p>
                        </div>
                    </div>
                    <div class="annonce-middle">
                        <div class="annonce-image">
                            <!-- Image de l'annonce -->
                            <img  class="image" src="/uploads/<%= announces[i].images[0] %>" alt="<%= announces[i].images[0] %>">
                        </div>
                    </div>
                    <div class="annonce-bottom">
                        <div class="annonce-price">
                            <!-- Prix de l'annonce -->
                            <%= announces[i].price %> <span  class="rate"><%= announces[i].rate %></span>
                        </div>
                        <div class="annonce-button">
                            <!-- Bouton de l'annonce -->

                            <% if (announces[i].visibility) { %>    
                                <a href="announces/<%= announces[i].id %>" class="contact-annonce-button">View details</a>
                            <% } %>
                                
                        </div>
                    </div>
                </div>
                <% if (announces[i].visibility == false) { %>
                </div class="hide-content">
                <% } %>
            <% } %>
            
            <!-- Fin d'une annonce -->
            
        </div>
    </div>

    <%- include('template/footer.ejs') %>

    <%- include('template/customs.ejs') %>

    <script>
        // For the search field, it hides it when clicking outside of the box
        document.addEventListener('click', function handleClickOutsideBox(event) {
        const search = document.getElementById('search-field');
        const input = document.getElementsByClassName('search');
    
        if (!search.contains(event.target)) {
            for (let index = 0; index < input.length; index++) {
                input[index].style.display = 'none';
            }
        }
        });

        // For the search field, it displays it when clicking on the search icon

        function displaySearchField() {
            const input = document.getElementsByClassName('search');
            for (let index = 0; index < input.length; index++) {
                input[index].style.display = 'block';
            }
        }
    </script>
    
</body>
</html>