<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/annonces.css">
    <link rel="stylesheet" href="../css/style.css" >
    <title>Announces</title>
    <link rel="icon" type="image/svg+xml" href="../image/logo.svg">
</head>
<body>

    <div class="main">

        <header id="header">
            <div id="website-logo">
            <img class="logo" src="../image/logo.svg"  alt="Gradient Shape Logo Element" loading="lazy">
            <span class="title" ><a href=".." style="text-decoration:none; color: white;">&nbsp; LocaWeb </a> </span>  
            </div>
            
            <a id="login" href="/login" class="btn-login">Login</a>
            <a id="sign_up" href="/signup" class="btn-grad">Sign-up</a>

            <% if (username !== undefined) { %>
                <a id="username" class="btn-grad" href="/profile"> <%= username %> </a>
                <a id="username" class="btn-offers btn-grad" href="/announces_builder"> Create offer </a>
                <% if (moderator) { %>
                    <a id="username" class="btn-offers btn-grad" href="/admin"> Moderation </a>
                <% } %>
                <script>
                    document.getElementById('sign_up').style.display='none';
                    document.getElementById('login').style.display='none';
                </script>
            <% } %>
        </header>

        <script src="../js/stickyheader.js"></script>

        <% if (error != undefined) { %>
            <div class="error-container">
                <a class="error"> <%= error %></a>
            </div>
        <% } %>

        <div class="annonce-container">

            <!-- La boucle qui parcourt les annonces commencera ici -->
            <% for (var i = 0; i < announces.length; i++) { %>

                <div class="annonce-element">
                    <% if (announces[i].visibility == false) { %>
                        <div class="hide-content">
                    <% } %>
                    <div class="annonce-top">
                        <div class="annonce-title">
                            <!-- Titre de l'annonce -->
                            <h4><%= announces[i].title %> </h4>
                            <p class="user_text">From : <%= announces[i].username %> </p>
                        </div>
                    </div>
                    <div class="annonce-middle">
                        <div class="annonce-image">
                            <!-- Image de l'annonce -->
                            <img  class="image" src="/uploads/<%= announces[i].images[0] %>" alt="<%= announces[i].images[0] %>">
                        </div>
                    </div>
                    <div class="annonce-bottom">
                        <div class="annonce-price">
                            <!-- Prix de l'annonce -->
                            <%= announces[i].price %> <span style="font-weight:bold; background-color: transparent;"><%= announces[i].rate %></span>
                        </div>
                        <div class="annonce-button">
                            <% if (announces[i].visibility) { %>    
                                <a href="announces/<%= announces[i].id %>">View details</a>
                            <% } %>
                            <!-- Bouton de l'annonce -->
                            <!-- <form method="GET" action="announces/<%= announces[i].id %>" style="background-color: rgb(48 17 60);">
                                <button class="contact-annonce-button" type="submit">Voir l'annonce </button>
                            </form> -->
                                
                        </div>
                    </div>
                </div>
                <% if (announces[i].visibility == false) { %>
                </div class="hide-content">
                <% } %>
            <% } %>
            
            <!-- Fin d'une annonce -->
            
        </div>
    </div>

    <%- include('template/footer.ejs') %>
    
</body>
</html>