<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../image/logo.svg">
    <link rel="stylesheet" href="../css/main_annonce.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <title><%= ad.title %></title> 
    <link rel="icon" type="image/svg+xml" href="../image/logo.svg">
</head>

<body class="<%= (typeof customs !== 'undefined' && typeof customs.light_mode !== 'undefined') ? (customs.light_mode ? 'light-mode' : 'dark-mode') : 'dark-mode' %>">
    <div class="main">

        <%- include('template/header.ejs') %>
        <% has_reported = ad.reporters.includes(userId) || userId == ad.reporters || (ad.user == userId)%>
        <!-- has_Reported is used to define whether or not the user should see the buttons to report and ad / comments -->
        <!-- This represents the case where someone has already reported an ad / comments or that he is the creator of the ad / comment -->
        <% if (!has_reported ){ %>
            <div class="report_announce_container_bis">
                <button onclick="toggleReport('0')" class="fas fa-flag" title="Report the announce" style="font-size: 1.3em; float: left;" value="0" id="r0"></button>
                <input class="text_replacing_form_report" disabled id="p0" placeholder="Click the Flag on the left to report the announce">
                <form method="POST" style="background-color: transparent; width: 100%; float:right; border-radius: 20px;;" action="./<%= ad.id %>">
                    <div class="report_announce_container" id="0p">
                        <input type="text" class="announce_report_text" placeholder="Reason of the report" name="rep_content" required>
                        <button type="submit" class="announce_report_button" name="type" value="adreport">Report</button>
                    </div>
                </form>
            </div>
                
        <% } %>

        <div class="main_announce_container">
            <div class="announce_container_left">
                <div class="announce_images_container">
                    <div id="arrow_left" title="Previous image">
                        <i class="fas fa-arrow-left"></i>
                    </div>

                    <div id="arrow_right" title="Next image">
                        <i class="fas fa-arrow-right"></i>
                    </div>

                    <div class="images_container" style=" height: 100%; width: 100%; position: absolute;">
                        <!-- Multiple images here -->
                        <img style="height: 100%; width: 100%; object-fit: contain;"  class="image" src="/uploads/<%= ad.images[0] %>" alt="<%= ad.images[0] %>">
                    </div>

                </div>

                <% if (imgArray) { %>

                <script>

                    // TODO display the current image number under the image
                    
                    //when the right arrow is clicked
                    document.getElementById("arrow_right").addEventListener("click", function(){

                        //change the string array to a js array
                        var imageArray = <%- JSON.stringify(imgArray) %>;
                        
                        //find in the array where the current image is
                        var currentImage = document.querySelector(".image");
                        var currentImageSrc = currentImage.src.split("/")[4];

                        var index = imageArray.indexOf(currentImageSrc);

                        //get the next image
                        var nextImage = imageArray[index+1];

                        //if there is no next image, go back to the first image
                        if (nextImage == undefined){
                            nextImage = imageArray[0];
                        }

                        //change the image
                        currentImage.src = "/uploads/" + nextImage;
                    });

                    //when the left arrow is clicked
                    document.getElementById("arrow_left").addEventListener("click", function(){

                       //change the string array to a js array
                       var imageArray = <%- JSON.stringify(imgArray) %>;

                        //find in the array where the current image is
                        var currentImage = document.querySelector(".image");
                        var currentImageSrc = currentImage.src.split("/")[4];

                        var index = imageArray.indexOf(currentImageSrc);

                        //get the next image
                        var nextImage = imageArray[index-1];

                        //if there is no next image, go back to the first image
                        if (nextImage == undefined){
                            nextImage = imageArray[imageArray.length-1];
                        }

                        //change the image
                        currentImage.src = "/uploads/" + nextImage;
                    });
                </script>

                <% } %>

            </div>

            <div class="announce_container_right">
                <div class="announce_seller">
                    <!-- Le vendeur -->
                    <p class="selle_info">👤 <%= user %> - 🏙️ <em><%= ad.city %></em></p>
                </div>

                <div class="announce_price">
                    <!-- Prix de l'article --> 
                    <p class="selle_info"><%= ad.price %> <span style="font-weight:bold;"><%= ad.rate %></span></p> 
                </div>

                <div class="rent_article_button">
                    Bouton pour louer
                    <input type="button" value="show" id="see_profile_button">
                    <!-- Bouton pour louer le bien -->
                </div>
            </div>
        </div>

        <div class="announce_goto_comment_description">
            <a href="#blank_space" class="goto_comment">
                <p class="goto_text">
                    Description
                </p>
                <!-- Lien vers section commentaires -->
            </a>
            <a href="#announce_description" class="goto_description">
                <p class="goto_text">
                    Comments
                </p>
                <!-- Lien vers section description -->
            </a>
        </div>

        <div id="blank_space" style="height: 50px;"></div>

        <div id="announce_description">
            <div class="text_description">
                <!-- Description de l'article -->

                <p class="info_product">
                    <%= ad.description %>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et similique nam culpa deserunt ipsa minima vero nulla eaque ipsum illo repellendus molestiae quis ea temporibus, laboriosam odio, laudantium perspiciatis. Aliquam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab suscipit architecto ipsum fugiat numquam aliquid, provident magnam omnis repellat, quaerat quae est adipisci magni ipsa tempora velit optio. Nostrum, quaerat?
                </p>
                
            </div>
            <input type="checkbox" class="moreless_announce_description">
        </div>

        <div class="announce_comment_container">
            <div id="announce_comment_text">
                <% for (main_c in comments) { %>
                    <% cur_m = comments[main_c] %>
                    <% date = cur_m.createdAt %>
                    <% id_m = cur_m.id %>
                <div class="announce_one_comment">
                    <div class="date_username">
                        <div class="comment_username">
                            <%=cur_m.username %>
                        </div>
                        <div class="comment_date">
                            <%= date %>
                        </div>
                        <!-- see line 20 for has_reported explaination -->
                        <% has_reported = (cur_m.reporters.includes(userId)) || (userId == cur_m.reporters) || (cur_m.user == userId) %>
                    </div>
                    
                    <div class="comment_text">
                        <% if (cur_m.disabled) { %>
                            <em style="color:orangered"><%= cur_m.content %></em> <!-- @DRU PLEASE ADD EYE CROSSED, to make clear the comment is disabled -->
                        <% } else if (!cur_m.visibility) { %> 
                            <%= cur_m.content %> <!-- @DRU PLEASE BLUR THIS -->
                        <% } else { %>
                            <%= cur_m.content %>
                        <% } %> 
                        <!-- <br> -->
                        <div class="icons">
                            <% if (!cur_m.disabled && cur_m.visibility) {%>
                                <button type="button" class="fas fa-reply" onclick="toggleComment('<%= id_m %>')" value="0" id="b<%= id_m %>" title="Reply"></button>
                                <button onclick="toggleReport('<%= id_m %>')" class="fas fa-flag" title="Report" value="0" id="r<%= id_m %>"></button>
                            <% } %>
                        </div>

                        <form method="POST" style="background-color: transparent;" action="./<%= ad.id %>">
                            <div class="type_and_send_content_reply" id="<%= id_m %>">
                                <input type="hidden" name="type" value="comment">
                                <input type="text" id="<%= id_m %>c" style="display: None;" class="comment_type_reply" name="res_content" placeholder="Type your text here" required>
                                <button type="submit" class="reply_button_right" id="<%= id_m %>b" value="<%= id_m %>|" name="res_btn" style="display: None;">Reply</button>
                            </div>
                        </form>

                        <% if (!cur_m.disabled && cur_m.visibility && !(userId in cur_m.reporters) && !has_reported) {%>
                            <form method="POST" style="background-color: transparent;" action="./<%= ad.id %>">
                                <div class="type_and_send_content_report" id="<%= id_m %>p">
                                    <input type="hidden" name="type" value="coreport">
                                    <input type="text" placeholder="Reason of the report" class="comment_type_report" name="rep_content" id="<%= id_m %>re" required>
                                    <button type="submit" class="report_button" name="rep_btn" value="<%= id_m %>" id="<%= id_m %>r" >Report</button>
                                </div>
                            </form>
                        <% } %>

                    </div>
                    <% for (sub_c in cur_m.responses) { %>
                        <% cur_sub = cur_m.responses[sub_c] %>
                        <% date = cur_sub.createdAt %>
                        <% id_sub = cur_sub.id %>
                        
                    <div class="comment_reply_text">
                        <div class="reply_user_date">
                            <div class="comment_reply_username">
                                <%= cur_sub.username %>
                            </div>
                            <div class="comment_reply_date">
                                <%= date %>
                                <% has_reported = (cur_sub.reporters.includes(userId)) || (userId == cur_sub.reporters) || (cur_sub.user == userId) %>
                            </div>
                            
                        </div>
                        <div class="reply_text">
                            <% if (cur_sub.repAuthorId == userId && cur_sub.visibility && !cur_sub.disabled) { %> 
                                <!-- Affiche le content @ en rouge si c'est une réponse au user conntecté -->
                                <!-- text to highlight                                | text not to highlight -->
                                <% if (customs.tag_color != null) { %>
                                <a style="padding: 3px;  border-radius: 5px; border: 1px solid rgb(255, 0, 0); background-color: <%= customs.tag_color %>; "><%= cur_sub.toAuthor %></a> <%= cur_sub.content %>
                                <% } else { %>
                                    <a style="padding: 3px; border-radius: 5px; border: 1px solid rgb(255, 0, 0); background-color: #ff00007c;"><%= cur_sub.toAuthor %></a> <%= cur_sub.content %>
                                <% } %>
                            <% } else if (cur_sub.visibility && cur_sub.disabled) { %>
                                <em style="color:orangered"><%= cur_sub.content %></em> 
                                <i class="fas fa-eye-slash">
                                </i><!-- @DRU PLEASE ADD EYE CROSSED, to make clear the comment is disabled -->
                            <% } else if (!cur_sub.visibility) { %>
                                 <div class="blurred_content">
                                    <%= cur_sub.content %> 
                                 </div>
                                  <!-- @DRU PLEASE BLUR THIS -->
                            <% } else { %>
                                <%= cur_sub.toAuthor %> <%= cur_sub.content %> 

                            <% } %>
                            <!-- <br> -->
                            <div class="icons">
                            <% if (!cur_sub.disabled && cur_sub.visibility) {%>
                                <button type="button" class="fas fa-reply" onclick="toggleComment('<%= id_sub %>')" value="0" id="b<%= id_sub %>" title="Reply"></button>
                                <button onclick="toggleReport('<%= id_sub %>')" class="fas fa-flag" title="Report" value="0" id="r<%= id_sub %>"></button>
                            <% } %>
                            </div>

                            
                            <form method="POST" style="background-color: transparent;" action="./<%= ad.id %>">
                                
                                <div class="type_and_send_content_reply" id="<%= id_sub %>">
                                    <input type="hidden" name="type" value="comment">
                                    <input type="text" id="<%= id_sub %>c" style="display: None;" class="comment_type_reply" name="res_content" placeholder="Type your text here" required>
                                    <button type="submit" class="reply_button_right" id="<%= id_sub %>b" value="<%= id_m %>|<%= id_sub %>" name="res_btn" style="display: None;">Post</button>
                                </div>
                            </form>

                            <% if (!cur_sub.disabled && cur_sub.visibility && (!(userId in cur_sub.reporters) && !has_reported)) { %>
                                <form method="POST" style="background-color: transparent;" action="./<%= ad.id %>">
                                    <div class="type_and_send_content_report" id="<%= id_sub %>p">
                                        <input type="hidden" name="type" value="coreport">
                                        <input type="text" placeholder="Reason of the report" class="comment_type_report" name="rep_content" id="<%= id_sub %>re" required>
                                        <button type="submit" class="report_button" name="rep_btn" value="<%= id_m %>" id="<%= id_sub %>r" >Report</button>
                                    </div>
                                </form>
                            <% } %>
                        </div> 
                    </div>
                    <% } %>
                </div>
                <% } %>
            </div>
            <div class="announce_type_and_send">
                <form class="type_and_send_content" method="POST" action="./<%= ad.id %>">
                    <input type="hidden" name="type" value="comment">
                    <input type="text" name="res_content" class="comment_type_text" placeholder="Type your text here" required>
                    <button type="submit" name="res_btn" value="" class="comment_send_button" >SEND</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('template/footer.ejs') %>

    <%- include('template/customs.ejs') %>

    <div id="modal_profile">

    </div>

</body>
</html>



<script>
    /*const arrow_left = document.getElementById("arrow_left")
    const arrow_right = document.getElementById("arrow_right")

    arrow_left.addEventListener('mousein', mouseIn(arrow_right))
    arrow_left.addEventListener('mouseout', mouseOut(arrow_right))

    arrow_right.addEventListener('mousein', mouseIn(arrow_left))
    arrow_right.addEventListener('mouseout', mouseOut(arrow_left))

    function mouseIn(arrow) {
        arrow.setAttribute("style", "display:none;")
        arrow.setAttribute("style", "transition: all 0.2 ease-in-out;")
    }

    function mouseOut(arrow) {
        arrow.setAttribute("style", "display:block;")
        arrow.setAttribute("style", "transition: all 0.2 ease-in-out;")
    }*/

    //the following code comes from W3schools.com
    // When the user scrolls the page, execute stickHeader 
    window.onscroll = function() {stickHeader()};

    // Get the header
    var header = document.getElementById("header");

    // Get the offset position of the navbar
    var sticky = header.offsetTop;

    // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function stickHeader() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }

    const objDiv = document.getElementById('announce_comment_text')
    objDiv.scrollTop = objDiv.scrollHeight;


    function toggleComment(id) {
        if (document.getElementById("b" + id).value == 0) {
            document.getElementById("b" + id).value = 1;
            document.getElementById(id + "c").style.display = "";
            document.getElementById(id+"b").style.display = "";
            document.getElementById(id).style.display="flex";
        } else {
            document.getElementById("b" + id).value = 0;
            document.getElementById(id + "c").style.display = "None";
            document.getElementById(id).style.display="None";
            document.getElementById(id+"b").style.display = "None";
        }
    }
    function toggleReport(id) {
        if (document.getElementById("r" + id).value == 0) {
            document.getElementById("r" + id).value = 1;
            //document.getElementById(id+"r").style.display = "block";
            document.getElementById(id+"p").style.display = "flex";
            document.getElementById("p"+id).style.display = "none";
            document.getElementById(id+"s").style.display = "flex";
            //document.getElementById(id+"re").style.display="block";
        } else {
            document.getElementById("r" + id).value = 0;
            //document.getElementById(id+"re").style.display="None";
            //document.getElementById(id+"r").style.display = "None";
            document.getElementById(id+"p").style.display = "None";
            document.getElementById("p"+id).style.display = "flex";
            document.getElementById(id+"s").style.display = "None";
        }
    }
</script>