<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/annonce-builder.css">
    <link rel="stylesheet" href="../css/cookies.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/d3562eec23.js" crossorigin="anonymous"></script>
    <title>Annonce updater</title>
    <link rel="icon" type="image/svg+xml" href="../image/logo.svg">
</head>
<body class="<%= (typeof customs !== 'undefined' && typeof customs.light_mode !== 'undefined') ? (customs.light_mode ? 'light-mode' : 'dark-mode') : 'dark-mode' %>">

    <div class="main">

        <%- include('template/header.ejs') %>

        <div class="form-title">
            <h1>Update your offer</h1>
        </div>

        <% if (error != undefined) { %>
            <div class="error-container">
                <a class="error"> <%= error %></a>
            </div>
            <script>
                const er_con = document.getElementsByClassName('error-container');
                for (let i = 0; i < er_con.length; i++) {
                    er_con[i].style.marginTop = '0px';
                }

                const er = document.getElementsByClassName('error');
                for (let j = 0; j < er.length; j++) {
                    er[j].style.color = 'green';
                    er[j].style.fontSize = '25px';
                }
                
                const flex1 = document.getElementsByClassName('flex1');
                for (let k = 0; k < flex1.length; k++) {
                    flex1[k].style.marginTop = '0px';
                }
            </script>
        <% } %>

        <div class="form-container">

            <form method="POST" enctype="multipart/form-data" action="/announces_updater">
                <!-- Title -->
                <input class="textinput" type="text" id="title" name="title" value="<%= ad.title %>">
                <br>
                <hr style="width: 80%; border: 3px dashed transparent;">
                <!-- Description -->
                <textarea class = "textinput" id="description" name="description" maxlength="500" style="height:200px;resize: none;"><%= ad.description %></textarea>
                <br>
                <hr style="width: 80%; border: 3px dashed transparent;">
                
                <!-- Price -->
                <div class="price">
                    <!-- City -->
                    <input  class="textinput smallinput" type="text" id="city" name="city" value="<%= ad.city %>">
                    <input  class="textinput smallinput" type="number" id="price" name="price" value="<%= ad.price %>" min="1">

                    <select class="textinput" style="width:200px;" name="rate" required>
                        <option value="0" disabled>Select rate:</option>
                        <option value="€/min">€/min</option>
                        <option value="€/halfhour">€/halfhour</option>
                        <option value="€/h">€/h</option>
                        <option value="€/day">€/day</option>
                        <option value="€/week">€/week</option>
                    </select>
                    <br>
                </div>
                <hr style="width: 80%; border: 3px dashed transparent;">
                <!-- Image -->
                <input id="files" type="file" accept="image/png" name="images" class="textinput smallinput"  multiple>  
                <a class="remove" title="Remove all the pictures" onclick="removeLastPicture()"> <i class="fas fa-times"></i> </a>
                <div id="preview"></div>
                <br>
                <hr style="width: 80%; border: 3px dashed transparent;">
                <!-- submit btn -->
                <button class = "btn-grad" type="submit" style="border: 0;display: block;margin: 0 auto; float: inherit;">Update</button> 
                <br>
            </form>

        </div>
    </div>

    <script>
        // Preview image
        const preview = (file) => {
            const fr = new FileReader();
            fr.onload = () => {
                const img = document.createElement("img");
                img.src = fr.result;  // String Base64 
                img.alt = file.name;
                document.querySelector('#preview').append(img);
            };
            fr.readAsDataURL(file);
        };

        document.querySelector("#files").addEventListener("change", (ev) => {
            if (!ev.target.files) return; // Do nothing.
            [...ev.target.files].forEach(preview);
        });

        //remove all the pictures at once and reset the name of the file
        function removeLastPicture(){ 
            var preview = document.getElementById('preview');
            while (preview.firstChild) preview.removeChild(preview.firstChild);
            document.getElementById('files').value = "";
        }
    </script>

    <%- include('template/cookies.ejs') %>

    <%- include('template/footer.ejs') %>
    
    <%- include('template/customs.ejs') %>

    </body>
</html>