<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/annonces.css">
    <link rel="stylesheet" href="../css/style.css" >
    <title>Announces</title>
    <link rel="icon" type="image/svg+xml" href="../image/logo.svg">
    <script src="https://kit.fontawesome.com/d3562eec23.js" crossorigin="anonymous"></script>
</head>
<body class="<%= (typeof customs !== 'undefined' && typeof customs.light_mode !== 'undefined') ? (customs.light_mode ? 'light-mode' : 'dark-mode') : 'dark-mode' %>">

    <div class="main">

        <header id="header">
            <div id="website-logo">
            <img class="logo" src="../image/logo.svg"  alt="Gradient Shape Logo Element" loading="lazy">
            <span class="title" ><a href=".." class="head-title">&nbsp; LocaWeb </a> </span>  
            </div>
            
            <div class="right-header">
                <a id="login" href="/login" class="btn-login">Login</a>
                <a id="sign_up" href="/signup" class="btn-grad">Sign-up</a>

                <form action="/announces" method="POST" id="search-field" onclick="document.getElementById('search').style.display='inline-block'"> 
                    <!-- @dru this has to be cleaned up... Sorry bro I hate FE -->
                    <input type="text" id="search" name="search" href="/admin" minlength="3" placeholder="Search"> 
                    <i class="fas fa-search"></i>
                </form>

                <% if (searching) { %>
                    <!-- @dru Button to clear search, do as you wish -->
                    <a class="btn-offers btn-grad" href="/announces"> Clear search </a>
                <% } %>
                
                <% if (user.username !== undefined) { %>
                    <a id="username" class="btn-grad" href="/profile"> <%= user.username %> </a>
                    <% if (!user.banned) { %>
                        <a id="username" class="btn-offers btn-grad" href="/announces_builder"> Create offer </a>
                    <% } else { %>
                        <div class="banned_message">
                            <!-- @dru message si banned -->
                            <p>You are banned from the website. You can't create, comment, report an announce - comments.</p>
                        </div>
                    <% } %>

                    <% if (user.moderator) { %>
                        <a id="username" class="btn-offers btn-grad" href="/admin"> Moderation </a>
                    <% } %>
                    <script>
                        document.getElementById('sign_up').style.display='none';
                        document.getElementById('login').style.display='none';
                    </script>
                <% } %>
            </div>
        </header>

        <% if (searching && Object.keys(announces).length == 0) { %>
            <!-- @dru message si pas d'annonces-->
            <a class="error"> No announces found </a>
        <% } %>

        <script src="../js/stickyheader.js"></script>

        <% if (error != undefined) { %>
            <div class="error-container">
                <a class="error"> <%= error %></a>
            </div>
        <% } %>

        <div id="annonce-container">
            <% if (Object.keys(announces).length == 0) { %>
                <!-- @dru message si pas d'annonces-->
                <script>
                    document.getElementById('annonce-container').style.display='block';
                </script>
                <a class="error"> Il n'y a pas d'annonces pour le moment...</a>
            <% } %>
            <!-- La boucle qui parcourt les annonces commencera ici -->
            <% for (var i = 0; i < announces.length; i++) { %>

                <div class="annonce-element">
                    <% if (announces[i].visibility == false) { %>
                        <div class="hide-content">
                    <% } %>
                    <div class="annonce-top">
                        <div class="annonce-title">
                            <!-- Titre de l'annonce -->
                            <h4><%= announces[i].title %> </h4>
                        </div>
                        <div class="annonce-user">
                            <p class="user_text">From : <%= announces[i].username %> </p>
                        </div>
                    </div>
                    <div class="annonce-middle">
                        <div class="annonce-image">
                            <!-- Image de l'annonce -->
                            <img  class="image" src="/uploads/<%= announces[i].images[0] %>" alt="<%= announces[i].images[0] %>">
                        </div>
                    </div>
                    <div class="annonce-bottom">
                        <div class="annonce-price">
                            <!-- Prix de l'annonce -->
                            <%= announces[i].price %> <span  class="rate"><%= announces[i].rate %></span>
                        </div>
                        <div class="annonce-button">
                            <!-- Bouton de l'annonce -->

                            <% if (announces[i].visibility) { %>    
                                <a href="announces/<%= announces[i].id %>" class="contact-annonce-button">View details</a>
                            <% } %>
                                
                        </div>
                    </div>
                </div>
                <% if (announces[i].visibility == false) { %>
                </div class="hide-content">
                <% } %>
            <% } %>
            
            <!-- Fin d'une annonce -->
            
        </div>
    </div>

    <%- include('template/footer.ejs') %>

    <%- include('template/customs.ejs') %>
    
</body>
<script>
    // For the search field, it hides it when clicking outside of the box
    document.addEventListener('click', function handleClickOutsideBox(event) {
    const search = document.getElementById('search-field');
    const input = document.getElementById('search');

    if (!search.contains(event.target)) {
        input.style.display = 'none';
    }
    });
</script>
</html>