<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../image/logo.svg">
    <link rel="stylesheet" href="../css/main_annonce.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/cookies.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/d3562eec23.js" crossorigin="anonymous"></script>
    <title>LocaWeb: <%= ad.title %></title> 
    <link rel="icon" type="image/svg+xml" href="../image/logo.svg">
</head>

<body class="<%= (typeof customs !== 'undefined' && typeof customs.light_mode !== 'undefined') ? (customs.light_mode ? 'light-mode' : 'dark-mode') : 'dark-mode' %>" id="body_main_announce">
    <div class="main">

        <%- include('template/header.ejs') %>

        <% can_not_report = ad.reporters.includes(main_user.id) || main_user.id == ad.reporters || (ad.user == main_user.id) || (main_user.banned) %>
        <!-- can_not_report is used to define whether or not the user should see the buttons to report and ad / comments -->
        <!-- This represents the case where someone has already reported an ad / comments or that he is the creator of the ad / comment -->
        <% if (!can_not_report ){ %>
            <div class="report_announce_container_bis">
                <button onclick="toggleReport('0')" class="fas fa-flag" title="Report the announce" style="font-size: 1.3em; float: left;" value="0" id="r0"></button>
                <input class="text_replacing_form_report" disabled id="p0" placeholder="Report the offer">
                <form method="POST" style="background-color: transparent; width: 100%; float:right; border-radius: 20px;" action="./<%= ad.id %>">
                    <div class="report_announce_container" id="0p">
                        <input type="text" class="announce_report_text" placeholder="Reason of the report" name="rep_content" required>
                        <button type="submit" class="announce_report_button" name="type" value="adreport">Report</button>
                    </div>
                </form>
            </div>
                
        <% } %>
        
        <% if (ad.user == main_user.id) { %>
            <form method="POST"  action="/getAd-for-Update" class="form_update_announce">
                <input type="hidden"  name="adId" value="<%= ad.id %>">
                <button type="submit" class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                <p class="hover_update"> &nbsp; Click on this icon to edit</p>
            </form>
            <form method="POST" action="/deleteAd" class="form_del_announce">
                <input type="hidden"  name="adId" value="<%= ad.id %>">
                <button type="submit" class="del-btn" onclick="return confirmDelete()"><i class="fa-regular fa-trash-can"></i></button>
                <p class="hover_update"> &nbsp; Click on this icon to delete</p>

            </form> 

        <% } %>

        <% if (main_user.banned) { %>
            <div class="banned_message">
                <!-- @dru message si banned -->
                <p>You are banned from the website. You can't create, comment, report an announce - comments.</p>
            </div>
        <% } %>
        

        <div class="main_announce_container">
            <div class="announce_container_left">
                <div class="announce_images_container">
                    <div id="arrow_left" title="Previous image">
                        <i class="fas fa-arrow-left"></i>
                    </div>

                    <div id="arrow_right" title="Next image">
                        <i class="fas fa-arrow-right"></i>
                    </div>

                    <div id="image-container" class="images_container" style=" height: 100%; width: 100%; position: absolute;">
                        <!-- the image and the number of the image will be appended here-->
                    </div>

                </div>

                    <script>
                        var images = <%- JSON.stringify(ad.images) %>;
                        let currentIndex = 0;
                        function updateImage() {
                            const imageContainer = document.getElementById('image-container');
                            imageContainer.innerHTML = `
                            <img style="height: 100%; width: 100%; object-fit: contain;" src="/uploads/${images[currentIndex]}" alt="${images[currentIndex]}]">
                            <div id="image-number" style="color:var(--white); text-align:center;" >${currentIndex + 1}/${images.length}</div>
                            `;
                        }
                        const arrowLeft = document.getElementById('arrow_left');
                        const arrowRight = document.getElementById('arrow_right');
                        arrowLeft.addEventListener('click', () => {
                            currentIndex = (currentIndex + images.length - 1) % images.length;
                            updateImage();
                        });
                        arrowRight.addEventListener('click', () => {
                            currentIndex = (currentIndex + 1) % images.length;
                            updateImage();
                        });
                        updateImage();
                    </script>

            </div>

            <div class="announce_container_right">
                <div class="announce_seller">
                    <!-- Le vendeur -->
                    <p class="selle_info">👤 <%= user.username %> - 🏙️ <em><%= ad.city %></em></p>

                    <p class="selle_info"><%= ad.price %> <span style="font-weight:bold;"><%= ad.rate %></span></p> 
                </div>

                <div class="rent_article_button" style="display: flex;">
                    <button onclick="document.getElementById('modal_profile').style.display='block', document.getElementById('body_main_announce').style.overflow='hidden'" type="button" value="show" class="see_profile_button">See this seller's contact information</button>
                    <div id="modal_profile">
                        <div class="modal-content">
                            <% if (user.sharing) { %>
                                <p>Email: <%= user.email %>  &nbsp; <a href="mailto:<%= user.email %>"> ✉️ </a></p>
                                <% if (user.phone != null) { %>
                                    <p>Phone: <%= user.phone %></p>
                                <% } %>
                                <p>You can also use comments bellow ↧</p>
                            <% } else { %>
                                <p>This user doesn't allow sharing contact information. 
                                    Please use bellow comments ↧
                                </p>
                            <% } %>
                            <button class="close_modal_button" type="button" onclick="document.getElementById('modal_profile').style.display='none', document.getElementById('body_main_announce').style.overflow='auto'">Close</button>
                        </div>
                    </div>
                        
                    <!-- Bouton pour louer le bien -->
                </div>
            </div>
        </div>

        <div class="announce_goto_comment_description">
            <a href="#blank_space" class="goto_comment">
                <p class="goto_text">
                    Description
                </p>
                <!-- Lien vers section commentaires -->
            </a>
            <a href="#announce_description" class="goto_description">
                <p class="goto_text">
                    Comments
                </p>
                <!-- Lien vers section description -->
            </a>
        </div>

        <div id="blank_space" style="height: 50px;"></div>

        <div id="announce_description">
            <div class="text_description">
                <!-- Description de l'article -->

                <p class="info_product">
                    <%= ad.description %>
                </p>
                
            </div>
            <input type="checkbox" class="moreless_announce_description">
        </div>

        <div class="announce_comment_container">
            <div id="announce_comment_text">
                <% for (main_c in comments) { %>
                    <% cur_m = comments[main_c] %>
                    <% date = cur_m.createdAt %>
                    <% id_m = cur_m.id %>
                <div class="announce_one_comment">
                    <div class="date_username">
                        <div class="comment_username">
                            <%=cur_m.username %>
                        </div>
                        <div class="comment_date">
                            <%= date %>
                        </div>
                        <!-- see line 20 for can_not_report explaination -->
                        <% can_not_report = (cur_m.reporters.includes(main_user.id)) || (main_user.id == cur_m.reporters) || (cur_m.user == main_user.id) || (main_user.banned) %>
                    </div>
                    
                    <div class="comment_text">
                        <% if (cur_m.disabled) { %>
                            <em style="color:orangered"><%= cur_m.content %></em>
                            <i class="fas fa-eye-slash"></i>
                            <!-- @DRU PLEASE ADD EYE CROSSED, to make clear the comment is disabled -->
                        <% } else if (!cur_m.visibility) { %> 
                            <div class="blurred_content">
                                <%= cur_m.content %>
                            </div>
                             <!-- @DRU PLEASE BLUR THIS -->
                        <% } else { %>
                            <%= cur_m.content %>
                        <% } %> 
                        <!-- <br> -->
                        <div class="icons">
                            <% if (!cur_m.disabled && cur_m.visibility && !main_user.banned) {%>
                                <button type="button" class="fas fa-reply" onclick="toggleComment('<%= id_m %>')" value="0" id="b<%= id_m %>" title="Reply"></button>
                                <button onclick="toggleReport('<%= id_m %>')" class="fas fa-flag" title="Report" value="0" id="r<%= id_m %>"></button>
                            <% } %>
                        </div>

                        <form method="POST" class="form_comments" action="./<%= ad.id %>">
                            <div class="type_and_send_content_reply" id="<%= id_m %>">
                                <input type="hidden" name="type" value="comment">
                                <input type="text" id="<%= id_m %>c" style="display: None;" class="comment_type_reply" name="res_content" placeholder="Type your text here" required>
                                <button type="submit" class="reply_button_right" id="<%= id_m %>b" value="<%= id_m %>|" name="res_btn" style="display: None;">Reply</button>
                            </div>
                        </form>
                        <% if (!cur_m.disabled && cur_m.visibility && !(cur_m.reporters.includes(main_user.id)) && !can_not_report) {%>
                            <form method="POST" class="form_comments" action="./<%= ad.id %>">
                                <div class="type_and_send_content_report" id="<%= id_m %>p">
                                    <input type="hidden" name="type" value="coreport">
                                    <input type="text" placeholder="Reason of the report" class="comment_type_report" name="rep_content" id="<%= id_m %>re" required>
                                    <button type="submit" class="report_button" name="rep_btn" value="<%= id_m %>" id="<%= id_m %>r" >Report</button>
                                </div>
                            </form>
                        <% } %>

                    </div>
                    <% for (sub_c in cur_m.responses) { %>
                        <% cur_sub = cur_m.responses[sub_c] %>
                        <% date = cur_sub.createdAt %>
                        <% id_sub = cur_sub.id %>
                        
                    <div class="comment_reply_text">
                        <div class="reply_user_date">
                            <div class="comment_reply_username">
                                <%= cur_sub.username %>
                            </div>
                            <div class="comment_reply_date">
                                <%= date %>
                                <% can_not_report = (cur_sub.reporters.includes(main_user.id)) || (main_user.id == cur_sub.reporters) || (cur_sub.user == main_user.id) || (main_user.banned) %>
                            </div>
                            
                        </div>
                        <div class="reply_text">
                            <% if (cur_sub.repAuthorId == main_user.id && cur_sub.visibility && !cur_sub.disabled) { %> 
                                <!-- Affiche le content @ en rouge si c'est une réponse au user conntecté -->
                                <!-- text to highlight                                | text not to highlight -->
                                <% if (customs.tag_color != null) { %>
                                <a  class="tag-color" style="padding: 3px;  border-radius: 5px; border: 1px solid  <%= customs.tag_color %>;"><%= cur_sub.toAuthor %></a> <%= cur_sub.content %>
                                <script>
                                    document.documentElement.style.setProperty('--tag-color', '<%= customs.tag_color %>');

                                    let primaryColor = getComputedStyle(document.documentElement).getPropertyValue('--tag-color');

                                    document.documentElement.style.setProperty('--tag-color-transparent', `rgba(${primaryColor}, 0.5)`);
                                </script>

                                <% } else { %>
                                    <a class="tag-color" style="padding: 3px; border-radius: 5px; border: 1px solid  <%= customs.tag_color %>;"><%= cur_sub.toAuthor %></a> <%= cur_sub.content %>
                                <% } %>
                            <% } else if (cur_sub.visibility && cur_sub.disabled) { %>
                                <em style="color:orangered"><%= cur_sub.content %></em> 
                                <i class="fas fa-eye-slash"></i>
                                <!-- @DRU PLEASE ADD EYE CROSSED, to make clear the comment is disabled -->
                            <% } else if (!cur_sub.visibility) { %>
                                 <div class="blurred_content">
                                    <%= cur_sub.content %> 
                                 </div>
                                  <!-- @DRU PLEASE BLUR THIS -->
                            <% } else { %>
                                <%= cur_sub.toAuthor %> <%= cur_sub.content %> 

                            <% } %>
                            <!-- <br> -->
                            <div class="icons">
                            <% if (!cur_sub.disabled && cur_sub.visibility && !main_user.banned) {%>
                                <button type="button" class="fas fa-reply" onclick="toggleComment('<%= id_sub %>')" value="0" id="b<%= id_sub %>" title="Reply"></button>
                                <button onclick="toggleReport('<%= id_sub %>')" class="fas fa-flag" title="Report" value="0" id="r<%= id_sub %>"></button>
                            <% } %>
                            </div>

                            
                            <form method="POST" class="form_comments_reply" action="./<%= ad.id %>">
                                
                                <div class="type_and_send_content_reply" id="<%= id_sub %>">
                                    <input type="hidden" name="type" value="comment">
                                    <input type="text" id="<%= id_sub %>c" style="display: None;" class="comment_type_reply" name="res_content" placeholder="Type your text here" required>
                                    <button type="submit" class="reply_button_right" id="<%= id_sub %>b" value="<%= id_m %>|<%= id_sub %>" name="res_btn" style="display: None;">Post</button>
                                </div>
                            </form>

                            <% if (!cur_sub.disabled && cur_sub.visibility && (!(cur_sub.reporters.includes(main_user.id)) && !can_not_report)) { %> 
                                <form method="POST" class="form_comments_reply" action="./<%= ad.id %>">
                                    <div class="type_and_send_content_report" id="<%= id_sub %>p">
                                        <input type="hidden" name="type" value="coreport">
                                        <input type="text" placeholder="Reason of the report" class="comment_type_report" name="rep_content" id="<%= id_sub %>re" required>
                                        <button type="submit" class="report_button" name="rep_btn" value="<%= id_m %>" id="<%= id_sub %>r" >Report</button>
                                    </div>
                                </form>
                            <% } %>
                        </div> 
                    </div>
                    <% } %>
                </div>
                <% } %>
            </div>
            <div class="announce_type_and_send">
                <% if (!main_user.banned) { %>
                <form class="type_and_send_content" method="POST" action="./<%= ad.id %>">
                    <input type="hidden" name="type" value="comment">
                    <input type="text" name="res_content" class="comment_type_text" placeholder="Type your text here" required>
                    <button type="submit" name="res_btn" value="" class="comment_send_button" >SEND</button>
                </form>
                <% } else { %>
                    <div class="banned_message">
                        <p>You are banned from this website. You can't post comment.</p>
                    </div>
                     <!-- @dru please style this :) -->
                <% } %>    
            </div>
        </div>
    </div>

    <%- include('template/cookies.ejs') %>

    <%- include('template/footer.ejs') %>

    <%- include('template/customs.ejs') %>

    

    <script>

        //the following code comes from W3schools.com
        // When the user scrolls the page, execute stickHeader 
        window.onscroll = function() {stickHeader()};
    
        // Get the header
        var header = document.getElementById("header");
    
        // Get the offset position of the navbar
        var sticky = header.offsetTop;
    
        // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function stickHeader() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    
        const objDiv = document.getElementById('announce_comment_text')
        objDiv.scrollTop = objDiv.scrollHeight;
    
        function confirmDelete() {
            return confirm("Are you sure you want to delete this ad?");
        }
    
        function toggleComment(id) {
            // hides or shows the form for adding comment
            if (document.getElementById("b" + id).value == 0) {
                document.getElementById("b" + id).value = 1;
                document.getElementById(id + "c").style.display = "";
                document.getElementById(id + "b").style.display = "";
                document.getElementById(id).style.display="flex";
            } else {
                document.getElementById("b" + id).value = 0;
                document.getElementById(id + "c").style.display = "None";
                document.getElementById(id).style.display="None";
                document.getElementById(id + "b").style.display = "None";
            }
        }
        function toggleReport(id) {
            // hides or shows the form for adding report
            if (document.getElementById("r" + id).value == 0) {
                document.getElementById("r" + id).value = 1;
                document.getElementById(id + "p").style.display = "flex";
                document.getElementById("p" + id).style.display = "none";
                document.getElementById(id + "s").style.display = "flex";
            } else {
                document.getElementById("r" + id).value = 0;
                document.getElementById(id + "p").style.display = "None";
                document.getElementById("p" + id).style.display = "flex";
                document.getElementById(id + "s").style.display = "None";
            }
        }
    </script>

</body>


</html>



