<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/modo.css">
    <title>Document</title>
</head>
<body>
    <header>
        <!-- Get header (not needed in this case)-->
    </header>

    <div class="chooseAnnounceOrComment0rAll">
        <button class="all" onclick="document.getElementById('announce_report_main').style.display='inline-block', document.getElementById('comment_report_main').style.display='inline-block'">Tout</button>
        <button class="announce" onclick="document.getElementById('announce_report_main').style.display='inline-block', document.getElementById('comment_report_main').style.display='none'">Annonces</button>
        <button class="comment" onclick="document.getElementById('announce_report_main').style.display='none', document.getElementById('comment_report_main').style.display='inline-block'">Commentaires</button>
        <a href="/" class="back_to_lobby">Menu</a>
        
    </div>

    <br><br>

    <div id="commentAndAnnounces">

        <!-- Partie annonces signalées -->

        <div id="announce_report_main">
            <h2>Annonces signalées</h2>
            <% for (ad in reports.ads) {%>
                <% cur_ad = reports.ads[ad]%>
            <!-- La boucle avec les annonces signalées -->
            <div class="one_announce">
                <div class="content_reported_announce">
                    <div id="<%- cur_ad.title %>" class="left_side">
                        <!-- The images will be appended here -->
                    </div>

                    <script>
                        var images = <%- cur_ad.images %>;
                        var imageContainer = document.getElementById('<%- cur_ad.title %>');
                        for (const image of images) {
                            const imgElement = document.createElement('img');
                            imgElement.src = `/uploads/${image}`;
                            imgElement.alt = 'My Image';
                            imageContainer.appendChild(imgElement);
                        }
                    </script>

                    <div class="right_side">
                        <div class="top">
                            <div class="announce_title">
                                <!-- Titre de l'annonce signalée -->
                                <div class="top_section">
                                    <div class="title_section">
                                        Titre de l'annonce signalée
                                    </div>
                                </div>
                                <p>
                                    <%= cur_ad.title %>
                                </p>
                            </div>
                            <div class="announce_seller">
                                <!-- Vendeur de l'annonce signalée -->
                                <div class="top_section">
                                    <div class="title_section" style="text-align: center; padding-left: 0px;">
                                        Vendeur
                                    </div>
                                </div>
                                <p>
                                    <%= cur_ad.user %>
                                </p>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="announce_content">
                                <!-- Description de l'annonce signalée -->
                                <div class="top_section">
                                    <div class="title_section">
                                        Description de l'annonce signalée
                                    </div>
                                </div>
                                <p>
                                    <%= cur_ad.description %>
                                </p>
                            </div>
                            <div class="reasons_report_bis">
                                <div class="reason_announce">
                                    <!-- La/les raison(s) ici -->
                                    <div class="top_section">
                                        <div class="title_section">
                                            Raisons du signalement de l'annonce
                                        </div>
                                    </div>
                                    <ul>
                                    <% for (rep in cur_ad.reports_list) { %>
                                        <li><%= cur_ad.reports_list[rep].content %></li>
                                    <% } %>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="announce_report_button">
                    <form action="/admin" method="POST" style="width: 100%;">
                        <input value="ad" type="hidden" name="type">
                        <button type="submit" onclick="disableGreenbAd('<%= cur_ad.id %>')" class="delete_button_announce" id="br<%= cur_ad.id %>ad" name="del_btn" value="<%= cur_ad.id %>">Supprimer l'annonce</button>
                        <button type="submit" onclick="disableRedbAd('<%= cur_ad.id %>')" class="restore_button_announce" id="bg<%= cur_ad.id %>ad" name="res_btn" value="<%= cur_ad.id %>">Rétablir l'annonce</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>

        <!-- Partie commentaires signalés -->

        <div id="comment_report_main">
            <h2>Commentaires signalés</h2>
            <!-- La boucle parcourant les commentaires signalés -->
            <% for (co in reports.comments) {%>
                <% cur_co = reports.comments[co]%>
            <div class="one_comment">
                <div class="reported_comment">
                    <div class="user_comment">
                        <!-- Utilisateur qui a envoyé le commentaire -->
                        <div class="top_section">
                            <div class="title_section" style="text-align: center; padding-left: 0px;">
                                Utilisateur qui a envoyé le commentaire
                            </div>
                        </div>
                        <p class="user"><%= cur_co.user %></p>
                    </div>
                    <div class="top_comment">
                        <div class="comment_sent">
                            <!-- Commentaire qui a été signalé -->
                            <div class="top_section">
                                <div class="title_section">
                                    Commentaire signalé
                                </div>
                            </div>
                            <p>
                                <%= cur_co.content %>
                            </p>
                        </div>
                        <div class="reasons_report">
                            <!-- La boucle avec les raisons ici-->
                            <div class="top_section">
                                <div class="title_section">
                                    Raisons du signalement du commentaire
                                </div>
                            </div>
                            <ul>
                                <% for (rep in cur_co.reports_list ) { %>
                                    <li style="text-align: left;">
                                        <!-- La raison ici -->
                                        <%= cur_co.reports_list[rep].content %>
                                    </li>
                                <% } %>
                            </ul>  
                        </div>
                    </div>    
                </div>
                <div class="comment_report_button">
                    <form action="/admin" method="POST" style="width: 100%;">
                        <input value="co" type="hidden" name="type">
                        <button type="submit" onclick="disableGreenbCo('<%= cur_co.id %>')" class="delete_button_announce" id="br<%= cur_co.id %>co" name="del_btn" value="<%= cur_co.id%>">Supprimer le commentaire</button>
                        <button type="submit" onclick="disableRedbCo('<%= cur_co.id %>')" class="restore_button_announce" id="bg<%= cur_co.id %>co" name="res_btn" value="<%= cur_co.id%>">Rétablir le commentaire</button>
                    </form>
                </div>   
            </div>
            <% } %>
        </div> 
    </div>
       
    <footer>
        <!-- Get footer (not needed in this case)-->
    </footer>
    <script>
        function disableRedbAd(id) {
            document.getElementById("br" + id + "ad").value = "";
        }
        function disableGreenbAd(id) {
            document.getElementById("bg" + id + "ad").value = "";
        }
    
        function disableRedbCo(id) {
            document.getElementById("br" + id + "co").value = "";
        }
        function disableGreenbCo(id) {
            document.getElementById("bg" + id + "co").value = "";
        }
    </script>
</body>
</html>
